{% extends 'shared/base.html' %}
{% load cache %}
{% block header %}
  <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
  <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/ >
  <meta name="keywords" content="{{ SITE_KEYWORDS }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:title" content="{{ SITE_NAME }}" />
  <meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
  <meta property="og:url" content="{{ SITE_BASE_URL }}" />
  <meta property="og:site_name" content="{{ SITE_NAME }}" />
{% endblock %}

{% block content %}

{% if article_list %}
  {% for article in article_list %}
    <div>
      <div>
        <a href="{% url 'blog:detail' article.pk %}">
          {{ article.title }}
        </a>
        <span>{{ article.views }}</span>
      </div>
      <p>{{ article.body }}</p>
    </div>
  {% endfor %}
{% else %}
  <p>There are no articles.</p>
{% endif %}

<div class="pagination">
	<span class="step-links">
		{% if article_list.has_previous %}
			<a href="?page=1">&laquo; first</a>
			<a href="?page={{ article_list.previous_page_number }}">previous</a>
		{% endif %}
	
		<span class="current">
			Page {{ article_list.number }} of {{ article_list.paginator.num_pages }}.
		</span>
		
		{% if article_list.has_next %}
      <a href="?page={{ article_list.next_page_number }}">next</a>
      <a href="?page={{ article_list.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}
