{% load static %}
<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>inspired | get inspired now!</title>
    
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  </head>
  <body>
    {% block content %}{% endblock %}

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/accounts.js' %}"></script>
  </body>
</html>