<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>

  <title>
    {% block title %}🐾korgi blog{% endblock %}
  </title>

  <link rel="stylesheet" href="{% static 'css/nprogress.css' %}">
</head>
<body>
  <header>
    {% include 'shared/nav.html' %}
  </header>
  <div>
    {% block content %}
    {% endblock %}

    {% block sidebar %}
    {% endblock %}
  </div>

  <footer>
    {% include 'shared/footer.html' %}
  </footer>

  <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/nprogress.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
</body>
</html>